$accentColor = #6493bf
// $textColor = #6493bf
.action-button {
    background-color: #6493bf !important;
    border-bottom-color: #40607d !important;
}
.action-button2 {
    background-color: black !important;
    border-bottom-color: grey !important;
}
.action-button3 {
    background-color: #684a3bc0 !important;
    border-bottom-color: #684a3b !important;
}
.action-button4 {
    background-color: #498006c0 !important;
    border-bottom-color: #498006 !important;
}